var {{.Name}} = &RestInfo{
    Path: {{.Path}},
    Method: {{.Method}},
    Queries: []string{ {{.Queries}} },
}

type {{.Name}}RequestBody = {{.RequestType}}
type {{.Name}}ResponseBody = {{.ResponseType}}
