func {{.Name}}Validate{{.TypeParams}}(instance *{{.Name}}{{.Generics}}) error{
    {{.Validators}}

    return nil
}

func (instance *{{.Name}}{{.Generics}}) Validate() error {
    if instance == nil {
        return nil
    }

    return {{.Name}}Validate(instance)
}