export class {{.Name}} extends ContractBaseError {
    
    public message: string;
    public code: string;
    public scope?: string;
    public status?: number;
    constructor() {
        super({{.Code}});
        this.name = "{{.Name}}";
        this.message = {{.Message}};
        this.code = {{.Code}};
        {{- if .HasScope}}
        this.scope = {{.Scope}};
        {{- end}}
        {{- if .Status}}
        this.status = {{.Status}};
        {{- end}}
    }
}
