export class {{.Name}} extends Error {
{{- if .HasCode }}
  public code = {{.Code}};
{{- end }}
{{- if .HasScope }}
  public scope = {{.Scope}};
{{- end }}
{{- if .HasStatus }}
  public status = {{.Status}};
{{- end }}

  constructor() {
    super({{.Message}});
    this.name = "{{.Name}}";
  }
}
