export type {{.Name}}Input{{.TypeParams}} = Partial<Omit<{{.Name}}{{.TypeParams}}, "validate">>;

export class {{.Name}}{{.TypeParams}} {
{{- range $index, $field := .Fields }}
  {{ $field }}
{{- end }}

  static fromJson(json: string): {{.Name}} {
    const data = JSON.parse(json);
    return data instanceof {{.Name}} ? data : new {{.Name}}(data);
  }

{{- if .ConstructorCode }}
{{.ConstructorCode}}
{{- end }}
{{.ValidatorCode}}
}
