/**
 * Rest Endpoint
 * @method {{.Method}}
 * @path {{.Path}}
 */
export const {{.Name}}: RestMetadata<{{.Path}}, {{.Method}},{{.ReqType}}, {{.ResType}}> = {
    path: {{.Path}},
    method: {{.Method}},
}
