export const {{.RestName}}: RestInfo = {
  path: {{.Path}},
  method: {{.Method}},
  queries: [{{.Queries}}],
};
export type {{.RestName}}RequestBody = {{.RequestType}};
export type {{.RestName}}ResponseBody = {{.ResponseType}};
