func New{{.Name}}{{.TypeParams}}({{.Args}}) *{{.Name}}{{.Generics}}{
    return &{{.Name}}{{.Generics}}{
{{- range $index, $assignment := .Assignments }}
        {{ $assignment }}
{{- end }}
    }
}

