import java.net.URI
import java.time.LocalDate
import java.time.LocalDateTime
import java.util.UUID

object GeneratedContract {

{{.Runtime}}

{{.Errors}}
{{.ErrorMap}}
{{.Models}}
{{- if .HasRests }}

  data class RestInfo<Req, Res>(
    val path: String,
    val method: String,
    val queries: List<String>,
  )

{{.Rests}}
{{- end }}
}
