class {{.Name}} : Exception({{.Message}}) {
{{- if .HasCode }}
  val code: String? = {{.Code}}
{{- end }}
{{- if .HasScope }}
  val scope: String? = {{.Scope}}
{{- end }}
{{- if .HasStatus }}
  val status: String? = {{.Status}}
{{- end }}
}
