{
  "entries": [
    {
      "source": "./contract",
      "output": "./generated/ts",
      "lang": "ts",
      "packageName": "contract"
    },
    {
      "source": "./contract",
      "output": "./generated/go",
      "lang": "go",
      "packageName": "contract"
    }
  ]
}